@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*VARIABLES :*/
:root {
  --textColor: #414141;
  --burgerBG: #333;
  --shadowColor: #c5c5c6;
  --bg: #fafafa;
  --fsBigScreen: 1rem;
  --fsPhoneScreen: 0.9rem;
}

/*RESET */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

/*DEFAULT : */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  font-size: 62.5%;
}

/*NAVBAR :*/
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fsBigScreen);
  padding: 1rem 10rem;
  background: #fafafa;
  box-shadow: inset 0px -1px 0px var(--shadowColor);
}

.nav-icon {
  display: flex;
  align-items: center;
  color: var(--textColor);
}

.logoTitle {
  font-size: calc(var(--fsBigScreen) + 0.1rem);
  font-weight: bold;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navlinks-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navlinks-container li a {
  color: var(--textColor);
  display: inline-block;
  position: relative;
}
.navlinks-container li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;

  /*
    Set the hover line under link hidden
    in left side with some transition effect 0.2 second.
  */
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--burgerBG);
  transition: transform 0.2s ease-out;
}
.navlinks-container li a:hover::after {
  content: "";
  transform: scaleX(1); /*Set the hover line under link showed */
}

.menu_burger {
  display: none;
}

img {
  max-width: 100%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
    font-size: var(--fsPhoneScreen);
  }

  .nav-icon {
    order: 2;
  }

  .main-navlinks {
    order: 1;
  }

  .logoTitle {
    display: none;
  }

  /*Menu burger*/
  .menu_burger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background-color: var(--bg);
    align-items: center;
    position: relative;
  }
  .menu_burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--burgerBG);
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .menu_burger span:nth-child(1),
  .menu_burger span:nth-child(3) {
    transition: transform 0.3s ease-in-out;
  }
  .menu_burger span:nth-child(1) {
    transform: translateY(7px);
  }
  .menu_burger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .menu_burger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .menu_burger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .menu_burger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    border-right: 1px solid var(--shadowColor);
    padding: 1rem 2rem;
    background: var(--bg);
    transform: translate(-100%); /*Push the menu out of the screen*/
    transition: transform 0.3s ease-out;
  }

  .open {
    transform: translate(0%); /*Push the menu on the screen*/
  }
}
